// custom styles

body {
  font-family: sans-serif, "Raleway";
}

.navbar {
  font-weight: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  .navbar-brand h3 {
    font-weight: 100;
  }

  .nav-item {
    opacity: 0.7;
    font-size: 1.4rem;
  }

  .nav-link:hover {
    border-bottom: 2px solid whitesmoke;
  }
}

@media (max-width: 768px) {
  .navbar {
    background: #1f1f1f;
    .nav-link:hover {
      border-bottom: none;
    }
  }
}

#showcase {
  background: url(../images/main.jpeg) bottom center / cover no-repeat;
  min-height: 750px;
  position: relative;
  h1 {
    //add font later
    line-height: 1;
  }

  #book {
    font-size: 1.5rem;
    border-radius: 2rem;
  }

  #overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  #header {
    z-index: 2;
  }
}

@media (max-width: 768px) {
  #showcase {
    min-height: 500px;

    h1 {
      font-size: 4rem;
    }

    h3 {
      font-size: 1rem;
    }
  }
}

@media (max-width: 768px) {
  #explore {
    .col-md-6 {
      margin-top: 2rem;
    }
  }
}

#quotes {
  .fas {
    opacity: 0.6;
  }
}

#quotes2 {
  .fas {
    opacity: 0.6;
  }
}

#newsletter {
  height: 10rem;
  background: rgb(39, 38, 38);
}
